[Unit]
Description=ClintonCash's distributed currency daemon
After=network.target

[Service]
User=clintoncash
Group=clintoncash

Type=forking
PIDFile=/var/lib/clintoncashd/clintoncashd.pid
ExecStart=/usr/bin/clintoncashd -daemon -pid=/var/lib/clintoncashd/clintoncashd.pid \
-conf=/etc/clintoncash/clintoncash.conf -datadir=/var/lib/clintoncashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
